[Oo]bj
[Bb]in
[Aa]pp_Data
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.svn
*App_Data
Suteki.Shop/Suteki.Shop/ProductPhotos/*
Suteki.Shop/Suteki.Shop/Suteki.Shop.Publish.xml