<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- product photos never change once uploaded so set a cache timeout of 10 years -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3650.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
