SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping foreign keys from [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] DROP
CONSTRAINT [FKD28CAB63655B84E7]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] DROP
CONSTRAINT [FK3117099BB1026BB4]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] DROP
CONSTRAINT [FK4FEDF4B6E53A5F80]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] DROP
CONSTRAINT [FK4FF8F4B2350E3BF0]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] DROP
CONSTRAINT [FKD4474AC2350E3BF0]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[OrderLine]'
GO
ALTER TABLE [dbo].[OrderLine] DROP
CONSTRAINT [FK9D642A8F71931278]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] DROP
CONSTRAINT [FK2ABF29C369941CDB]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] DROP
CONSTRAINT [FK729387BD318371E4]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] DROP CONSTRAINT [PK__BasketIt__6051AA0B34C8D9D1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] DROP CONSTRAINT [PK__Card__55FECDAE47DBAE45]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[ContentType]'
GO
ALTER TABLE [dbo].[ContentType] DROP CONSTRAINT [PK__ContentT__2026064A38996AB5]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] DROP CONSTRAINT [PK__Country__10D1609F403A8C7D]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] DROP CONSTRAINT [PK__MailingL__75B998BF534D60F1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [PK__Order__C3905BCF4BAC3F29]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Postage]'
GO
ALTER TABLE [dbo].[Postage] DROP CONSTRAINT [PK__Postage__203F354A30F848ED]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[PostZone]'
GO
ALTER TABLE [dbo].[PostZone] DROP CONSTRAINT [PK__PostZone__F5DC87422D27B809]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] DROP CONSTRAINT [PK__ProductI__07B2B1B84F7CD00D]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [PK__Review__74BC79CE3C69FB99]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] DROP CONSTRAINT [PK__Size__83BD097A440B1D61]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] ALTER COLUMN [ContentType] [nvarchar] (255) COLLATE Latin1_General_CI_AS NOT NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[IComment]'
GO
CREATE TABLE [dbo].[IComment]
(
[ICommentId] [int] NOT NULL IDENTITY(1, 1),
[Approved] [bit] NULL,
[Text] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL,
[Reviewer] [nvarchar] (255) COLLATE Latin1_General_CI_AS NULL,
[ProductId] [int] Null
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
INSERT INTO [dbo].[IComment] ([ProductId], [Approved], [Text], [Reviewer])
SELECT [ProductId], [Approved], [Text], [Reviewer] FROM [dbo].[Review]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__IComment__5ADFDE572D27B809] on [dbo].[IComment]'
GO
ALTER TABLE [dbo].[IComment] ADD CONSTRAINT [PK__IComment__5ADFDE572D27B809] PRIMARY KEY CLUSTERED  ([ICommentId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Rebuilding [dbo].[Review]'
GO
CREATE TABLE [dbo].[tmp_rg_xx_Review]
(
[ObjectId] [int] NOT NULL,
[ProductId] [int] NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
INSERT INTO [dbo].[tmp_rg_xx_Review]([ObjectId], [ProductId]) SELECT [ICommentId], [ProductId] FROM [dbo].[IComment]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DROP TABLE [dbo].[Review]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
ALTER TABLE [dbo].[IComment] DROP COLUMN [ProductId]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
EXEC sp_rename N'[dbo].[tmp_rg_xx_Review]', N'Review'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Review__9A61929134C8D9D1] on [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] ADD CONSTRAINT [PK__Review__9A61929134C8D9D1] PRIMARY KEY CLUSTERED  ([ObjectId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[Comment]'
GO
CREATE TABLE [dbo].[Comment]
(
[ObjectId] [int] NOT NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Comment__9A61929130F848ED] on [dbo].[Comment]'
GO
ALTER TABLE [dbo].[Comment] ADD CONSTRAINT [PK__Comment__9A61929130F848ED] PRIMARY KEY CLUSTERED  ([ObjectId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[OrderAdjustment]'
GO
CREATE TABLE [dbo].[OrderAdjustment]
(
[OrderAdjustmentId] [int] NOT NULL IDENTITY(1, 1),
[Amount] [decimal] (19, 5) NULL,
[Description] [nvarchar] (max) COLLATE Latin1_General_CI_AS NULL,
[OrderId] [int] NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__OrderAdj__CDB07B715EBF139D] on [dbo].[OrderAdjustment]'
GO
ALTER TABLE [dbo].[OrderAdjustment] ADD CONSTRAINT [PK__OrderAdj__CDB07B715EBF139D] PRIMARY KEY CLUSTERED  ([OrderAdjustmentId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__BasketIt__6051AA0B403A8C7D] on [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] ADD CONSTRAINT [PK__BasketIt__6051AA0B403A8C7D] PRIMARY KEY CLUSTERED  ([BasketItemId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Card__55FECDAE4F7CD00D] on [dbo].[Card]'
GO
ALTER TABLE [dbo].[Card] ADD CONSTRAINT [PK__Card__55FECDAE4F7CD00D] PRIMARY KEY CLUSTERED  ([CardId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__ContentT__2026064A440B1D61] on [dbo].[ContentType]'
GO
ALTER TABLE [dbo].[ContentType] ADD CONSTRAINT [PK__ContentT__2026064A440B1D61] PRIMARY KEY CLUSTERED  ([ContentTypeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Country__10D1609F47DBAE45] on [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] ADD CONSTRAINT [PK__Country__10D1609F47DBAE45] PRIMARY KEY CLUSTERED  ([CountryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__MailingL__75B998BF5AEE82B9] on [dbo].[MailingListSubscription]'
GO
ALTER TABLE [dbo].[MailingListSubscription] ADD CONSTRAINT [PK__MailingL__75B998BF5AEE82B9] PRIMARY KEY CLUSTERED  ([MailingListSubscriptionId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Order__C3905BCF534D60F1] on [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] ADD CONSTRAINT [PK__Order__C3905BCF534D60F1] PRIMARY KEY CLUSTERED  ([OrderId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Postage__203F354A3C69FB99] on [dbo].[Postage]'
GO
ALTER TABLE [dbo].[Postage] ADD CONSTRAINT [PK__Postage__203F354A3C69FB99] PRIMARY KEY CLUSTERED  ([PostageId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__PostZone__F5DC874238996AB5] on [dbo].[PostZone]'
GO
ALTER TABLE [dbo].[PostZone] ADD CONSTRAINT [PK__PostZone__F5DC874238996AB5] PRIMARY KEY CLUSTERED  ([PostZoneId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__ProductI__07B2B1B8571DF1D5] on [dbo].[ProductImage]'
GO
ALTER TABLE [dbo].[ProductImage] ADD CONSTRAINT [PK__ProductI__07B2B1B8571DF1D5] PRIMARY KEY CLUSTERED  ([ProductImageId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Size__83BD097A4BAC3F29] on [dbo].[Size]'
GO
ALTER TABLE [dbo].[Size] ADD CONSTRAINT [PK__Size__83BD097A4BAC3F29] PRIMARY KEY CLUSTERED  ([SizeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Comment]'
GO
ALTER TABLE [dbo].[Comment] ADD
CONSTRAINT [FKE24667035273ED9D] FOREIGN KEY ([ObjectId]) REFERENCES [dbo].[IComment] ([ICommentId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Review]'
GO
ALTER TABLE [dbo].[Review] ADD
CONSTRAINT [FKD28CAB635273ED9D] FOREIGN KEY ([ObjectId]) REFERENCES [dbo].[IComment] ([ICommentId]),
CONSTRAINT [FKD28CAB63655B84E7] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Product] ([ProductId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[OrderAdjustment]'
GO
ALTER TABLE [dbo].[OrderAdjustment] ADD
CONSTRAINT [FKF3A9DF3A71931278] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Order] ([OrderId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Order]'
GO
ALTER TABLE [dbo].[Order] ADD
CONSTRAINT [FK3117099BB1026BB4] FOREIGN KEY ([CardId]) REFERENCES [dbo].[Card] ([CardId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Content]'
GO
ALTER TABLE [dbo].[Content] ADD
CONSTRAINT [FK4FEDF4B6E53A5F80] FOREIGN KEY ([ContentTypeId]) REFERENCES [dbo].[ContentType] ([ContentTypeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Contact]'
GO
ALTER TABLE [dbo].[Contact] ADD
CONSTRAINT [FK4FF8F4B2350E3BF0] FOREIGN KEY ([CountryId]) REFERENCES [dbo].[Country] ([CountryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Basket]'
GO
ALTER TABLE [dbo].[Basket] ADD
CONSTRAINT [FKD4474AC2350E3BF0] FOREIGN KEY ([CountryId]) REFERENCES [dbo].[Country] ([CountryId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[OrderLine]'
GO
ALTER TABLE [dbo].[OrderLine] ADD
CONSTRAINT [FK9D642A8F71931278] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Order] ([OrderId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Country]'
GO
ALTER TABLE [dbo].[Country] ADD
CONSTRAINT [FK2ABF29C369941CDB] FOREIGN KEY ([PostZoneId]) REFERENCES [dbo].[PostZone] ([PostZoneId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[BasketItem]'
GO
ALTER TABLE [dbo].[BasketItem] ADD
CONSTRAINT [FK729387BD318371E4] FOREIGN KEY ([SizeId]) REFERENCES [dbo].[Size] ([SizeId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
insert [Content] ([ContentType], [ContentTypeId], [Name], [Position], [IsActive], [UrlName], [ParentContentId], [Controller], [Action])
values ('ActionContent', 3, 'Reviews', (select MAX(Position) + 1 from [Content] where ParentContentId = 1), 1, 'Reviews', 1, 'Reviews', 'AllApproved')
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
