<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" />
  <package id="NVelocity" version="1.0.3" />
  <package id="RhinoMocks" version="3.6" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Rx-Interactive" version="1.0.2856.0" />
  <package id="Castle.Services.Transaction" version="3.0.7.2007" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="Iesi.Collections" version="3.2.0.2001" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.68.0" />
  <package id="NUnit" version="2.5.10.11092" />
</packages>