body
{
	background-image: none;
	text-align: left;
	font-size: 12pt;
}

a
{
	color: Black;
}
a:hover
{
	color: Black;
}

th.wide
{
    width: 400px;
}

th.thin
{
    width: 200px;
}

td
{
}

h3
{
}

.print
{
}

.contentLeftColumn
{
    width: 500px;
}

.contentRightColumn
{
    float: left;
    margin: 0;
}

li
{
	list-style-type: none;
}

dl
{
    width: 41.1em;
    margin: 2em 0;
    padding: 0;
}

dt
{
    width: 15em;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    font-weight: bold;
    display: inline;
}

/* commented backslash hack for mac-ie5 \*/
dt { clear: both; }
/* end hack */

dd
{
    float: left;
    width: 24em;
    margin: 0 0 0 0;
    padding: 0;
    display: inline;
}

textarea
{
    border: none;
    width: 100%;
    height: 100%;
    overflow: visible;
}

table
{
    clear: both;
}

.hideForPrint
{
    display:none;
    visibility:hidden;
}

/*-------------------------------------- invoice -------------------------------------------*/

.invoiceHeader
{
	width: 700px;
	height: 120px;
}

.invoiceNumber
{
	font-size: 16pt;
	font-weight: bold;
}

.invoiceTable td
{
	width: 400px;
	vertical-align: top;
	font-size: 12pt;
}

.invoiceBasket
{
	border: solid 1px #000000;
	margin: 20px 0;
	padding: 20px;
	font-size: 12pt;
}

.invoiceThanks
{
	font-size: 12pt;
	text-align: right;
	padding: 10px;
}

.invoiceLabelLeft
{
	font-size: 14pt;
	position: absolute;
	top: 1067px;
	left: 0px;
}

.invoiceLabelRight
{
	font-size: 14pt;
	position: absolute;
	top: 1067px;
	left: 495px;
}
