<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Order Confirmation</title>
    <link href="http://static.jumpthegun.co.uk.s3.amazonaws.com/Site.css" rel="stylesheet" type="text/css" />
    <link href="http://static.jumpthegun.co.uk.s3.amazonaws.com/Print.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="print">
		<div class="invoiceHeader">
			<img src="http://s3.amazonaws.com/static.jumpthegun.co.uk/utility_invoice_header.jpg" />
		</div>
		<h1>Order Confirmation</h1>		
		#parse("_orderDetails.vm")
    </div>
</body>
</html>