<?xml version="1.0"?>
<configuration>
  <!-- windsor configuration. 
  This is a web application, all components must have a lifesytle of 'transient' or 'preWebRequest' -->
  <components>

    <!-- services -->

		<component id="product.image" type="Suteki.Shop.Services.ImageDefinition, Suteki.Shop">
			<parameters>
				<key>product.image</key>
				<width>300</width>
				<height>300</height>
				<imageNameExtension>Main</imageNameExtension>
			</parameters>
		</component>

		<component id="product.thumbnail.image" type="Suteki.Shop.Services.ImageDefinition, Suteki.Shop">
			<parameters>
				<key>product.thumbnail.image</key>
				<width>100</width>
				<height>100</height>
				<imageNameExtension>Thumb</imageNameExtension>
			</parameters>
		</component>

		<component id="category.image" type="Suteki.Shop.Services.ImageDefinition, Suteki.Shop">
			<parameters>
				<key>category.image</key>
				<width>555</width>
				<height>555</height>
				<imageNameExtension>Category</imageNameExtension>
			</parameters>
		</component>
		
		<component id="image.service" >
      <parameters>
				<imageDefinitions>
					<array>
						<value>${product.image}</value>
						<value>${product.thumbnail.image}</value>
						<value>${category.image}</value>
					</array>
				</imageDefinitions>
			</parameters>
    </component>

		
    <component id="encryption.service" >
      <parameters>
        <publicKey>BgIAAACkAABSU0ExAAQAAAEAAQC/CAaD64BWCkRSfm2RlGclcnZ2k2GMGDjoCgTwwdzqZ7dYx+gd3CeCOuvsh3KwB7OKyBiZjHnIk2au9iZ9RGxqYd1Iw741t4e3Yad0hEyLeXyrl6Xs/EfshwGRLD81djLiQvjZkSDZYNUpGpwH7jDnbdcVo6HfwyHXPaM5IC561g==</publicKey>
      </parameters>
    </component>

    <!-- email config -->
    
    <!--
    <component
      id="email.service"
      service="Suteki.Common.Services.IEmailSender, Suteki.Common"
      type="Suteki.Common.Services.EmailSender, Suteki.Common"
      lifestyle="transient">
      <parameters>
        <smtpServer>smtp.sutekishop.co.uk</smtpServer>
        <fromAddress>info@sutekishop.co.uk</fromAddress>
      </parameters>
    </component>
    -->
    
    <component
      id="emailLogger.service"
      service="Suteki.Common.Services.IEmailSender, Suteki.Common"
      type="Suteki.Common.Services.EmailSenderLogger, Suteki.Common"
      lifestyle="transient">
      <parameters>
        <emailSender>${nullemail.service}</emailSender>
      </parameters>
    </component>

    <component
      id="nullemail.service"
      service="Suteki.Common.Services.IEmailSender, Suteki.Common"
      type="Suteki.Common.Services.NullEmailSender, Suteki.Common"
      lifestyle="transient">
    </component>

    <!-- multitenanted configuration (the first configured tenant is always the default) -->

    <component
      id="IBaseControllerService"
      service="Suteki.Shop.Services.IBaseControllerService, Suteki.Shop"
      type="Suteki.Shop.Services.BaseControllerService, Suteki.Shop"
      lifestyle="transient">
      <parameters>
        <ShopName>Suteki Shop</ShopName>
        <EmailAddress>info@sutekishop.co.uk</EmailAddress>
        <GoogleTrackingCode>UA-1643677-4</GoogleTrackingCode>
        <MetaDescription>Suteki Shop is a new self service eCommerce solution. Search engine optimised and fully customisable</MetaDescription>
        <SiteCss>site.css</SiteCss>
        <FacebookUserId>your facebook user id</FacebookUserId>
      </parameters>
    </component>

    <component
      id="IImageFileService"
      service="Suteki.Shop.Services.IImageFileService, Suteki.Shop"
      type="Suteki.Shop.Services.ImageFileService, Suteki.Shop"
      lifestyle="transient">
      <parameters>
        <imageFolder>/ProductPhotos/</imageFolder>
      </parameters>
    </component>

<!--    <component-->
<!--      id="IConnectionStringProvider"-->
<!--      service="Suteki.Common.Repositories.IConnectionStringProvider, Suteki.Common"-->
<!--      type="Suteki.Common.Repositories.ConnectionStringProvider, Suteki.Common"-->
<!--      lifestyle="transient">-->
<!--      <parameters>-->
<!--        <ConnectionString>Data Source=.\SQLEXPRESS;Initial Catalog=SutekiShop;Integrated Security=True</ConnectionString>-->
<!--      </parameters>-->
<!--    </component>-->
    
  </components>

</configuration>
